# Based on https://github.com/github/gitignore/blob/main/Laravel.gitignore

# dependencies
/vendor/
/node_modules/

# Laravel environment files
.env
.env.*
.env.backup

# Laravel directories
/storage/
/public/storage/

# IDE and editor folders
.idea/
.vscode/

# others
.phpunit.result.cache

